# 혼자 공부하는 첫 프로그래밍 with 파이썬 예제코드 - Chapter 05-2 데이터 세트와 for 반복

### for-str01.py

In [ ]:
string = "혼공족"
for char in string:
    print(char)

### for-list01.py

In [ ]:
book_list = ["혼자 공부하는 첫 프로그래밍", "혼자 공부하는 파이썬"]
for book in book_list:
    print(book)

### for-list02.py

In [ ]:
name_set = ["드링킹 요구르트", "딸기 우유"]
price_set = [1800, 1500]
qty_set = [4, 2]

# 곧 for 반복문으로 아래 코드를 반복 처리하겠습니다
name = name_set[0]
sales = price_set[0] * qty_set[0]
print(name + " 매출액 : " + str(sales))

name = name_set[1]
sales = price_set[1] * qty_set[1]
print(name + " 매출액 : " + str(sales))

### for-list03.py

In [ ]:
name_set = ["드링킹 요구르트", "딸기 우유"]
price_set = [1800, 1500]
qty_set = [4, 2]

for i in [0, 1]:
    name = name_set[i]
    sales = price_set[i] * qty_set[i]
    print(name + " 매출액 : " + str(sales))

### for-list04.py

In [ ]:
name_set = ["드링킹 요구르트", "딸기 우유", "홈런공"]
price_set = [1800, 1500, 1000]
qty_set = [4, 2, 3]

for i in [0, 1, 2]:
    name = name_set[i]
    sales = price_set[i] * qty_set[i]
    print(name + " 매출액 : " + str(sales))

### index01.py

In [ ]:
name_set = ["드링킹 요구르트", "딸기 우유", "홈런공"]
for i in [0, 1, 2]:
    print(name_set[i])

### index02.py

In [ ]:
name_set = ["드링킹 요구르트", "딸기 우유", "홈런공"]
for i in range(3):
    print(name_set[i])

### index03.py

In [ ]:
book_list = ["혼자 공부하는 첫 프로그래밍", "혼자 공부하는 파이썬"]
print(len(book_list))

count_down = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
print(len(count_down))

### index04.py

In [ ]:
name_set = ["드링킹 요구르트", "딸기 우유", "홈런공"]
for i in range(len(name_set)):
    print(name_set[i])

### index05.py

In [ ]:
name_set = ["드링킹 요구르트", "딸기 우유"]
price_set = [1800, 1500]
qty_set = [4, 2]

for i in range(len(name_set)):
    name = name_set[i]
    sales = price_set[i] * qty_set[i]
    print(name + " 매출액 : " + str(sales))

### index06.py

In [ ]:
name_set = ["드링킹 요구르트", "딸기 우유", "홈런공"]
price_set = [1800, 1500, 1000]
qty_set = [4, 2, 3]

for i in range(len(name_set)):
    name = name_set[i]
    sales = price_set[i] * qty_set[i]
    print(name + " 매출액 : " + str(sales))

### for-dict01.py

In [ ]:
book_list = ["혼자 공부하는 첫 프로그래밍", "혼자 공부하는 파이썬"]
print(book_list[0])
print(book_list[1])

book_dict = {"입문자용": "혼자 공부하는 첫 프로그래밍", "초보자용": "혼자 공부하는 파이썬"}
print(book_dict["입문자용"])
print(book_dict["초보자용"])

### for-dict02.py

In [ ]:
book_list = ["혼자 공부하는 첫 프로그래밍", "혼자 공부하는 파이썬"]
for book in book_list:
    print(book)

### for-dict03.py

In [ ]:
book_dict = {
    "입문자용": "혼자 공부하는 첫 프로그래밍",
    "초보자용": "혼자 공부하는 파이썬"
}
for book in book_dict:
    print(book)

### for-dict04.py

In [ ]:
book_dict = {
    "입문자용": "혼자 공부하는 첫 프로그래밍",
    "초보자용": "혼자 공부하는 파이썬"
}
for book in book_dict:
    print(book_dict[book])

### for-dict05.py

In [ ]:
mos_qty = {
    "2020년6월": [9, 5, 14, 8],
    "2020년7월": [15, 6, 17, 15],
    "2020년8월": [26, 18, 26, 10]
}

# 아래 코드를 for 반복문으로 처리할 예정입니다.
month = "2020년6월"
total = sum(mos_qty[month])
print(month + " 판매량 : " + str(total))

month = "2020년7월"
total = sum(mos_qty[month])
print(month + " 판매량 : " + str(total))

month = "2020년8월"
total = sum(mos_qty[month])
print(month + " 판매량 : " + str(total))

### for-dict06.py

In [ ]:
mos_qty = {
    "2020년6월": [9, 5, 14, 8],
    "2020년7월": [15, 6, 17, 15],
    "2020년8월": [26, 18, 26, 10]
}

for month in mos_qty:
    total = sum(mos_qty[month])
    print(month + " 판매량 : " + str(total))

### 확인문제 1

In [ ]:
coffee = "플랫화이트"
for x in coffee:
    print(x)

### 확인문제 2

In [ ]:
count = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for x in count:
    if x % 2 == 0:
        print(str(x) + "!")

### 확인문제 3

In [ ]:
five = range(5)
for x in five:
    print((x + 1) * 3)

### 확인문제 4

In [ ]:
order = ["아메리카노", "플랫 화이트", "화이트 초콜릿 모카"]
price = [3100, 4100, 4600]
for x in range(3):
    print(order[x] + " : " + str(price[x]))

### 확인문제 5

In [ ]:
scores = [990, 120]
print(scores[0])
print(scores[1])

scores = {"TOEIC": 990, "TOEFL iBT": 120}
print(scores["TOEIC"])
print(scores["TOEFL iBT"])

### 확인문제 6

In [ ]:
order = ["아메리카노", "플랫 화이트", "화이트 초콜릿 모카"]
price = {
    "아메리카노": 3100,
    "플랫 화이트": 4100,
    "화이트 초콜릿 모카": 4600
}

for x in order:
    print(x + " : " + str(price[x]))

### 확인문제 7

In [ ]:
numbers = [[1, 2, 3], [4, 5, 6]]

for row in numbers:
    total = 0
    for x in row:
        total = total + x
    print(total)

### 확인문제 8

In [ ]:
menu = {
    "오늘의 커피": 2800,
    "아메리카노": 3100,
    "카푸치노": 3600,
    "화이트 초콜릿 모카": 4600,
    "플랫 화이트": 4100,
}

my_order = {
    "플랫 화이트": 2,
    "화이트 초콜릿 모카": 1,
}

for x in my_order:
    price = menu[x]
    qty = my_order[x]
    total = price * qty
    print(x + " " + str(qty) + " 잔, 합계 : " + str(total))